@charset "ISO-8859-1";

h2 {
    color: rgb(37, 70, 145);
    font-family:sans-serif;
}

#formindex {
    background-color:rgb(255, 79, 79);
}

#submitview, #submitnot {
    background-color: cornsilk;
    color: black;
    border: 2px solid #555555;
    border-radius: 12px;
}

#submitview:hover {
    background-color: burlywood;
}

#submitnot:hover {
    background-color:cadetblue;
}

#formtable {
    color: rgb(255, 249, 220);
}

#linkto {
    color: rgb(255, 78, 78);
    text-transform: uppercase;
}

.table-repo {
    outline: 2px solid aquamarine;
}

.button-remove {
    background-color: cornsilk;
}

.table-form-repo {
    display: flex;
    justify-content: flex-start;
    outline: 2px solid darkslategrey;
}

.table-form-col {
    flex: 1;
    outline: 2px dotted rgb(23, 55, 55);
}